@using SortDirection = Microsoft.AspNetCore.Components.QuickGrid.SortDirection
<div>
    <h2>Order History</h2>
    <hr/>
    <div class="order-history">
        <div class="grid">
            <QuickGrid Items="@FilteredItems" ResizableColumns="true" Pagination="@pagination">
                <PropertyColumn Property="@(t => t.OrderNumber)" Title="Order #" Sortable="true">
                </PropertyColumn>
                <PropertyColumn Property="@(t => t.LastName)" Title="Last Name" Sortable="true">
                    <ColumnOptions>
                        <div class="search-box">
                            <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Enter title to search"/>
                        </div>
                    </ColumnOptions>
                </PropertyColumn>
                <PropertyColumn Property="@(t => t.FirstName)" Title="First Name" Sortable="true"/>
                <PropertyColumn Property="@(t => t.Notes)" Title="Notes" Sortable="true"/>
                <PropertyColumn Property="@(t => t.Total)" Sortable="true"/>
                <PropertyColumn Property="@(t => t.Created)" Sortable="true"/>
                <PropertyColumn Property="@(t => t.Items.Count)" Title="Items" Align="Align.Right"/>
            </QuickGrid>
            <Paginator Value="pagination"></Paginator>
        </div>
    </div>
</div>